
<div class="header">
    <h1>create quiz</h1>
    <p class="hGreeting">hello, <%= user.username %>!</p>
    <div class="hButtons flex">
        <a href="/admin" class="betterBtn">back</a>

        <form action="/auth/logout" method="POST">
            <button type="submit" class="betterBtn">Logout</button>
        </form> 
    </div>
</div>

<form id="qForm" class="qCreateForm" action="/admin/create" method="POST">
    <input type="text" name="title" placeholder="Quiz Title" required>
    <div id="qContainer"></div>

    <input type="hidden" name="questions" id="qInput" required>

    <p class="red" id="qFormError" role="alert"></p>

    <% if (typeof createErrors !== 'undefined' && createErrors) { %>
        <% for (let error of createErrors) { %>
            <p class="red"><%= error %></p>
        <% } %>
    <% } %>

    <br>
    <button type="button" id="qAddButton" class="betterBtn">Add Question</button>
    <input type="submit" value="Create Quiz">
</form>

<script src="/public/js/createQuiz.js"></script>