<h1>Create Quiz</h1>

<form id="qForm" action="/admin/create" method="POST">
    <input type="text" name="title" placeholder="Quiz Title" required>
    <div id="qContainer"></div>

    <input type="hidden" name="questions" id="qInput">

    <% if (typeof createErrors !== 'undefined' && createErrors) { %>
        <% for (let error of createErrors) { %>
            <p><%= error %></p>
        <% } %>
    <% } %>

    <br>
    <button type="button" id="qAddButton" class="betterBtn">Add Question</button>
    <input type="submit" value="Create Quiz">
</form>

<script src="/public/js/createQuiz.js"></script>