
<div class="header">
    <h1>the quiz site (admin edition)</h1>
    <p class="hGreeting">hello, <%= user.username %>!</p>
    <div class="hButtons flex">
        <a href="/admin/create" class="betterBtn">create quiz</a>
        <a href="/quiz" class="betterBtn">main page</a>

        <form action="/auth/logout" method="POST">
            <button type="submit" class="betterBtn">Logout</button>
        </form> 
    </div>
</div>

<% if (typeof list !== 'undefined' && list.length > 0) { %>
    <form action="/admin/delete" method="POST" class="qBox flex">
        <select name="quizid">
            <% list.forEach(quiz => { %>
                <option value="<%= quiz._id %>"><%= quiz.title %></option>
            <% }) %>
        </select>
        <input type="submit" class="qDelete" value="Delete Quiz">
    </form>
<% } else { %>
    <p>no quizzes to delete found... create one!</p>
<% } %>

<script src="/public/js/quizDeleteConfirm.js"></script>