
<div class="header flex">
    <div class="hTitle flex">
        <h1>quiz admin</h1>
        <a href="/admin/create">new quiz</a>
        <a href="/quiz">main page</a>
    </div>

    <div class="hUser flex">
        <p>hello, <%= user.username %>!</p>

        <form action="/auth/logout" method="POST">
            <input type="submit" value="Logout">
        </form> 
    </div>
</div>

<% if (typeof list !== 'undefined' && list.length > 0) { %>
    <form action="/admin/delete" method="POST" class="qBox flex">
        <select name="quizid">
            <% list.forEach(quiz => { %>
                <option value="<%= quiz._id %>"><%= quiz.title %></option>
            <% }) %>
        </select>
        <input type="submit" value="Delete Quiz">
    </form>
<% } else { %>
    <p>no quizzes to delete found... create one!</p>
<% } %>
