<h1>hello chat, the admin quiz list</h1>

<a href="/admin/create">create a new quiz</a>
<form action="/admin/delete" method="POST">
    <select name="quizid">
        <% list.forEach(quiz => { %>
                <option value="<%= quiz._id %>"><%= quiz.title %></option>
        <% }) %>
    </select>
    <input type="submit" value="Delete Quiz">
</form>
