
<p>psst... hey! the admin password is admin1</p>

<h1>LOGIN!</h1>
<form action="/auth/login" method="POST">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" value="Login">
</form>

<% if (typeof loginErrors !== 'undefined' && loginErrors) { %>
    <% for (let error of loginErrors) { %>
        <p><%= error %></p>
    <% } %>
<% } %>

<h1>REGISTER!</h1>
<form action="/auth/register" method="POST">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" value="Register">
</form>

<% if (typeof registerErrors !== 'undefined' && registerErrors) { %>
    <% for (let error of registerErrors) { %>
        <p><%= error %></p>
    <% } %>
<% } %>