<h1>hello chat, the quiz list!</h1>

<% if (user.authorized) { %>
    <p>Hello, <%= user.username %>!</p>
<% } %>

<ul>
    <% list.forEach(quiz => { %>
        <li><a href="/quiz?i=<%= quiz._id %>"><%= quiz.title %></a></li>
    <% }) %>
</ul>