
<h1>LOGIN!</h1>
<form action="/auth/login" method="POST">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" value="Login">
</form>

<h1>REGISTER!</h1>
<form action="/auth/register" method="POST">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" value="Register">
</form>