
<div class="header">
    <h1>highscores</h1>
    <p class="hGreeting">hello, <%= user.username %>!</p>
    <div class="hButtons flex">
        <a href="/quiz" class="betterBtn">main page</a>

        <form action="/auth/logout" method="POST">
            <button type="submit" class="betterBtn">Logout</button>
        </form> 
    </div>
</div>

<div>
    <% if (typeof highscores !== 'undefined' && highscores.length > 0) { %>
        <% highscores.forEach(score => { %>
            <p><%= score.name %> - <%= score.score %>/<%= score.count %></p>
        <% })%>
    <% } else { %>
        <p>no high scores found... maybe complete some quizzes??</p>
    <% } %>
</div>