
<div class="header">
    <h1>the quiz site</h1>
    <p class="hGreeting">hello, <%= user.username %>!</p>
    <div class="hButtons">
        <a href="/quiz/highscores" class="betterBtn">high scores</a>
        <% if (user.roles.includes("admin")) { %>
            <a href="/admin" class="betterBtn">admin panel</a>
        <% } %>

        <form action="/auth/logout" method="post">
            <button type="submit" class="betterBtn">Logout</button>
        </form>
    </div>
</div>

<% if (typeof list !== 'undefined' && list.length > 0) { %>
    <form action="/quiz/start" method="POST" class="qBox flex">
        <select name="quizid">
            <% list.forEach(quiz => { %>
                <option value="<%= quiz._id %>"><%= quiz.title %></option>
            <% }) %>
        </select>
        <input type="submit" value="Start Quiz">
    </form>
<% } else { %>
    <p>no quizzes found... check back later!!</p>
<% } %>
