
<div class="header flex">
    <div class="hTitle flex">
        <h1>the quiz</h1>

        <a href="/quiz/highscores">high scores</a>
        
        <% if (user.roles.includes("admin")) { %>
            <a href="/admin">admin panel</a>
        <% } %>
    </div>

    <div class="hUser flex">
        <p>hello, <%= user.username %>!</p>

        <form action="/auth/logout" method="POST">
            <input type="submit" value="Logout">
        </form> 
    </div>
</div>

<% if (typeof list !== 'undefined' && list.length > 0) { %>
    <form action="/quiz/start" method="POST" class="qBox flex">
        <select name="quizid">
            <% list.forEach(quiz => { %>
                <option value="<%= quiz._id %>"><%= quiz.title %></option>
            <% }) %>
        </select>
        <input type="submit" value="Start Quiz">
    </form>
<% } else { %>
    <p>no quizzes found... check back later!!</p>
<% } %>
